@import "variables.css";
@import "helpers.css";
@import "hero.css";
@import "typography.css";
@import "buttons.css";
@import "about.css";
@import "mixins.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";

html {
    font-size: 62.5%;
}

body {
    /* margin: 60px auto;
    width: 70%; */
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 5rem 0rem;
  
    @include respond(phone) {
      border: none;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

nav ul, footer ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */

/* h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */

p {
    font-size: var(--default-font-size);
    /* line-height: 1.4em; */
    color: black;
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
    font-size: var(--default-font-size);

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: var(--default-font-size);
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */

}

ul.posts li {
    list-style: none;
}

.header_post {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
}

hr {
    background-color: var(--white-color);
}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}

.post-box {
    margin: 60px auto;
    width: 70%;
}